<div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
       <div class="col-lg-12">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <h5>Agent List</h5>
               </div>
               <div class="ibox-content-list table-responsive" >
                                <mat-nav-list>
                                    <mat-list-item [routerLink]="'/admin'">
                                      <i matListIcon class="fa fa-user-secret"></i>
                                        <h3 matLine>Company</h3>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item [routerLink]="'/supermaster'">
                                          <i matListIcon class="fa fa-user"></i>
                                          <h3 matLine>Super Master</h3>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item [routerLink]="'/master'">
                                          <i matListIcon class="fa fa-user-md"></i>
                                          <h3 matLine>Master</h3>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item [routerLink]="'/superagent'">
                                          <i matListIcon class="fa fa-user-circle-o"></i>
                                          <h3 matLine>Super Agent</h3>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item [routerLink]="'/agent'">
                                          <i matListIcon class="fa fa-user-o"></i>
                                          <h3 matLine>Agent</h3>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item [routerLink]="'/clients'">
                                          <i matListIcon class="fa fa-users"></i>
                                          <h3 matLine>Client</h3>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item [routerLink]="'/updatelimit'">
                                          <i matListIcon class="fa fa-wrench"></i>
                                          <h3 matLine>Update Limit</h3>
                                    </mat-list-item>
                                </mat-nav-list>
               </div>
           </div>         
       </div>
   </div>
</div>