<div class="row margin-top">
        <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <!-- <span class="label label-primary pull-right">Today</span> -->
                   <h5>Total Session Bets</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">0</h1>
                   <!-- <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                   <small>New visits</small> -->
               </div>
           </div>
       </div>

       <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <!-- <span class="label label-info pull-right">Annual</span> -->
                   <h5>Settled Session Bets</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">0</h1>
                   <!-- <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                   <small>New orders</small> -->
               </div>
           </div>
       </div>

       <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <!-- <span class="label label-primary pull-right">Today</span> -->
                   <h5>Unsettled Session Bets</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">0</h1>
                   <!-- <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                   <small>New visits</small> -->
               </div>
           </div>
       </div>

       <div class="col-lg-3">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <!-- <span class="label label-primary pull-right">Today</span> -->
                   <h5>Reverted Session Bets</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">0</h1>
                   <!-- <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                   <small>New visits</small> -->
               </div>
           </div>
       </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
         <div class="col-sm-5 m-b-xs">
           <select class="input-sm form-control input-s-sm inline" id="user_ids" name="user_id" style="height: 34px;"><option value="">All Users</option><option value="2961">sp2961</option>
     <option value="2962">sp2962</option>
     <option value="5213">sp5213</option>
     <option value="5228">sp5228</option>
     <option value="5407">sp5407</option>
     <option value="5666">sp5666</option>
     <option value="5741">sp5741</option>
     <option value="5837">sp5837</option>
     <option value="6482">sp6482</option>
     <option value="6849">sp6849</option>
     <option value="7091">sp7091</option>
     <option value="9305">sp9305</option>
     <option value="9672">sp9672</option>
     <option value="10283">sp10283</option>
     <option value="10470">sp10470</option>
     <option value="10562">sp10562</option>
     <option value="10685">sp10685</option>
     <option value="10771">sp10771</option>
     <option value="10804">sp10804</option>
     <option value="11469">sp11469</option>
     <option value="11472">sp11472</option>
     <option value="11622">sp11622</option>
     <option value="11623">sp11623</option>
     <option value="11836">sp11836</option>
     <option value="11852">sp11852</option>
     <option value="11924">sp11924</option>
     <option value="11972">sp11972</option>
     <option value="12019">sp12019</option>
     <option value="12411">sp12411</option>
     <option value="12420">sp12420</option>
     <option value="12580">sp12580</option>
     <option value="12658">sp12658</option>
     <option value="12661">sp12661</option>
     <option value="12979">sp12979</option>
     <option value="23987">sp23987</option>
     <option value="30713">sp30713</option>
     <option value="32892">sp32892</option>
     <option value="32893">sp32893</option>
     <option value="63938">sp63938</option>
     <option value="109393">spd9403</option>
     <option value="124932">spf4944</option>
     <option value="2">sp2</option>
     <option value="3">sp3</option>
     <option value="4">sp4</option>
     <option value="59">sp59</option>
     <option value="60">sp60</option>
     <option value="176">sp176</option>
     <option value="321">sp321</option>
     <option value="379">sp379</option>
     <option value="619">sp619</option>
     <option value="895">sp895</option>
     <option value="896">sp896</option>
     <option value="897">sp897</option>
     <option value="1092">sp1092</option>
     <option value="1097">sp1097</option>
     <option value="1557">sp1557</option>
     <option value="1637">sp1637</option>
     <option value="2024">sp2024</option>
     <option value="2026">sp2026</option>
     <option value="2240">sp2240</option>
     <option value="2252">sp2252</option>
     <option value="2362">sp2362</option>
     <option value="2461">sp2461</option>
     <option value="2593">sp2593</option>
     <option value="2681">sp2681</option>
     <option value="2702">sp2702</option>
     <option value="2753">sp2753</option>
     <option value="2754">sp2754</option>
     <option value="2977">sp2977</option>
     <option value="2990">sp2990</option>
     <option value="5401">sp5401</option>
     <option value="6976">sp6976</option>
     <option value="7081">sp7081</option>
     <option value="7756">sp7756</option>
     <option value="9297">sp9297</option>
     <option value="11628">sp11628</option>
     <option value="13669">sp13669</option>
     <option value="19541">sp19541</option>
     <option value="19543">sp19543</option>
     <option value="35901">sp35901</option>
     <option value="43124">sp43124</option>
     <option value="50693">sp50693</option>
     <option value="50702">sp50702</option>
     <option value="55909">sp55909</option>
     <option value="63703">sp63703</option>
     <option value="67155">sp67155</option>
     <option value="81290">spb1298</option>
     <option value="96249">spc6258</option>
     <option value="96830">spc6839</option>
     <option value="99563">spc9572</option>
     <option value="102184">spd2194</option>
     <option value="103826">spd3836</option>
     <option value="120058">spf70</option>
     <option value="120062">spf74</option>
     <option value="121871">spf1883</option>
     <option value="122239">spf2251</option>
     <option value="122241">spf2253</option></select>
         </div>
         <div class="col-sm-5 m-b-xs">
         
                 <!-- <option data-id='' data-type="session" data-view-type='' selected></option> -->
             <select class="input-sm form-control input-s-sm inline" id="session_ids" name="model[field]" style="height: 34px;"><option value="">All Sessions</option><option value="14652">50 Overs Lambi,Western Australia</option>
     <option value="14653">10 Overs,Western Australia</option></select>
          
         </div>
           <div class="col-lg-12">
              <div class="ibox float-e-margins">
                 <div class="ibox-title">
                    <h5> Session Bet Slip</h5>
                    <div class="ibox-tools">
                    </div>
                 </div>
                 
              </div>
           </div>
        </div>
     </div>