
    

    <div class="wrapper wrapper-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Score Input</h5>
              </div>
              <div class="ibox-content-table table-responsive">
                <div>
                    <div class="row">
                        
                        <div class="col-12">
                            <div class="header">
                                <h3 class="h3">Run</h3>
                            </div>
                        </div>
                        <div class="col-md col-xs-12">
                            <button mat-raised-button color="primary" class="btn-run">0 Run</button>
                        </div>
                        <div class="col-md col-xs-12">
                            <button mat-raised-button color="primary" class="btn-run">1 Run</button>
                        </div>
                        <div class="col-md col-xs-12">
                            <button mat-raised-button color="primary" class="btn-run">2 Run</button>
                        </div>
                        <div class="col-md col-xs-12">
                            <button mat-raised-button color="primary" class="btn-run">3 Run</button>
                        </div>
                        <div class="col-md col-xs-12">
                            <button mat-raised-button color="primary" class="btn-run">4 Run</button>
                        </div>
                        <div class="col-md col-xs-12">
                            <button mat-raised-button color="primary" class="btn-run">6 Run</button>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-12">
                            <div class="header">
                                <h3 class="h3">Extras</h3>
                            </div>
                        </div>
                        <div class="col-md col-xs-12">
                            <button mat-raised-button color="primary" class="btn-extra">Wide</button>
                        </div>
                        <div class="col-md col-xs-12">
                            <button mat-raised-button color="primary" class="btn-extra">No ball</button>
                        </div>
                        <div class="col-md col-xs-12">
                            <button mat-raised-button color="primary" class="btn-extra">Free Hit</button>
                        </div>
                        <div class="col-md col-xs-12">
                            <button mat-raised-button color="primary" class="btn-extra">Wicket</button>
                        </div>
                        <div class="col-md-auto col-xs-12">
                            <button mat-raised-button color="primary" class="btn-extra">Third Umpire</button>
                        </div>
                        <div class="col-md col-xs-12">
                            <button mat-raised-button color="primary" class="btn-extra">All Out</button>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-12">
                            <div class="header">
                                <h3 class="h3"></h3>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <button mat-raised-button color="primary" class="btn-extra">Wide + Wkt</button>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <button mat-raised-button color="primary" class="btn-extra">No Ball + Wkt</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <button mat-raised-button color="primary" class="btn-extra">Wide + Run</button>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <button mat-raised-button color="primary" class="btn-extra">No Ball + Run</button>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-12">
                            <div class="header">
                                <h3 class="h3">Home</h3>
                            </div>
                        </div>
                        <div class="col-md-auto col-xs-12 d-flex align-items-center">
                            <div class="runner">Runner 1</div>
                        </div>
                        <div class="col-md col-xs-12">
                            <input class="form-control" placeholder="Total Score"/>
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Wkt">
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Overs">
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Balls">
                        </div>
                        <div class="col-md col-xs-12 d-flex align-items-center">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="batting-1">Batting</mat-radio-button>
                                <mat-radio-button value="balling-1">Balling</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-12">
                            <div class="header">
                                <h3 class="h3">Away</h3>
                            </div>
                        </div>
                        <div class="col-md-auto col-xs-12 d-flex align-items-center">
                            <div class="runner">Runner 2</div>
                        </div>
                        <div class="col-md col-xs-12">
                            <input class="form-control" placeholder="Total Score"/>
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Wkt">
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Overs">
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Balls">
                        </div>
                        <div class="col-md col-xs-12 d-flex align-items-center">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="batting-2">Batting</mat-radio-button>
                                <mat-radio-button value="balling-2">Balling</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>