
    

    <div class="wrapper wrapper-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Score Input</h5>
              </div>
              <div class="ibox-content-table table-responsive">
                <div>
                    <div class="row">
                        <div class="col-12">
                            <div class="header">
                                <h3 class="h3">Run</h3>
                            </div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-run col">0 Run</button> <input class="col-2 form-control shortcut" value="0" disabled/></div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-run col">1 Run</button> <input class="col-2 form-control shortcut" value="1" disabled/></div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-run col">2 Run</button> <input class="col-2 form-control shortcut" value="2" disabled/></div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-run col">3 Run</button> <input class="col-2 form-control shortcut" value="3" disabled/></div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-run col">4 Run</button> <input class="col-2 form-control shortcut" value="4" disabled/></div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-run col">6 Run</button> <input class="col-2 form-control shortcut" value="6" disabled/></div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-12">
                            <div class="header">
                                <h3 class="h3">Extras</h3>
                            </div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-extra col">Wide</button> <input class="col-2 form-control shortcut" value="q" disabled/> </div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-extra col">No ball</button><input class="col-2 form-control shortcut" value="w" disabled/> </div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-extra col">Free Hit</button><input class="col-2 form-control shortcut" value="e" disabled/> </div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-extra col">Wicket</button><input class="col-2 form-control shortcut" value="r" disabled/></div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-extra col">Third Umpire</button><input class="col-2 form-control shortcut" value="t" disabled/></div>
                        </div>
                        <div class="col-md col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-extra col">All Out</button><input class="col-2 form-control shortcut" value="y" disabled/></div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-12">
                            <div class="header">
                                <h3 class="h3"></h3>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-extra col">Wide + Wkt</button><input class="col-2 form-control shortcut" value="a" disabled/></div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-extra col">No Ball + Wkt</button><input class="col-2 form-control shortcut" value="s" disabled/></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-extra col">Wide + Run</button><input class="col-2 form-control shortcut" value="d" disabled/></div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <div class="row"><button mat-raised-button color="primary" class="btn-extra col">No Ball + Run</button><input class="col-2 form-control shortcut" value="f" disabled/></div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-12">
                            <div class="header">
                                <h3 class="h3">Home</h3>
                            </div>
                        </div>
                        <div class="col-md-auto col-xs-12 d-flex align-items-center">
                            <div class="runner">Runner 1</div>
                        </div>
                        <div class="col-md col-xs-12">
                            <input class="form-control" placeholder="Total Score"/>
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Wkt">
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Overs">
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Balls">
                        </div>
                        <div class="col-md col-xs-12 d-flex align-items-center">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="batting-1">Batting</mat-radio-button>
                                <mat-radio-button value="balling-1">Balling</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-12">
                            <div class="header">
                                <h3 class="h3">Away</h3>
                            </div>
                        </div>
                        <div class="col-md-auto col-xs-12 d-flex align-items-center">
                            <div class="runner">Runner 2</div>
                        </div>
                        <div class="col-md col-xs-12">
                            <input class="form-control" placeholder="Total Score"/>
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Wkt">
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Overs">
                        </div>
                        <div class="col-md col-xs-12">
                            <input type="text" class="form-control" placeholder="Balls">
                        </div>
                        <div class="col-md col-xs-12 d-flex align-items-center">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="batting-2">Batting</mat-radio-button>
                                <mat-radio-button value="balling-2">Balling</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>