<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
           <div class="col-lg-12">
              <div class="ibox float-e-margins">
                 <div class="ibox-title">
                    <h1>Match Dashboard - {{title}}</h1>
                 </div>
                        <div class="button-row ibox-content mob-button">
                          <button mat-raised-button color="primary" *ngIf="sprtID!=null" [routerLink]="['/betslips',sprtID,mtbfID,title]">Odds Bet Slips</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/declaredbetslips',matchId,MktId,title]">Odds Bet Slips</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID!=null" [routerLink]="['/sessionbetslips',sprtID,mtbfID,title]">Fancy Bet Slips</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==4" [routerLink]="['/bmbetslips',sprtID,mtbfID,title]">BookMaker Bet Slips</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/declaredsessionbetslips',matchId,MktId,title]">Fancy Bet Slip</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID!=null" [routerLink]="['/analysismarket',sprtID,mtbfID,matchId,'1']">Live Report</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID!=null" [routerLink]="['/marketreport',sprtID,mtbfID,title]">Market Report</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/companyreport',matchId,MktId,title]">Company Report</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/clientreport',matchId,MktId,title]">Client Report</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/clientcollectionreport',matchId,title]">Collection Report</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/sessionearningrepport',matchId,title]">Session Earning Report</button>
                        </div>
              </div>
           </div>
        </div>
     </div>
     <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
               <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                     <div class="ibox-title">
                        <h5>Match Markets</h5>
                        <div class="ibox-tools">
                        </div>
                     </div>
                     <div class="ibox-content table-responsive">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th>ID</th>
                                 <th>Betfair Market Id</th>
                                 <th>Betfair Market Type</th>
                                 <th>RUNNER</th>
                              </tr>
                           </thead>
                           <tbody>
                              <!-- <tr>
                                 <td>66443</td>  
                                 <td><a [routerLink]="'/marketinfo'">Match Winner_5308</a></td>
                                 <td>Match Winner</td>
                                 <td>2</td>
                              </tr>
                              <tr>
                                 <td>66459</td>  
                                 <td><a [routerLink]="'/marketinfo'">10_5308_even_odd</a></td>
                                 <td>Western Australia 10 Over Last Digit Even Odd</td>
                                 <td>2</td>
                              </tr> -->
                              <tr><td colspan="4" style="text-align: center;">No Rows To Display</td></tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                   <div class="col-lg-12">
                      <div class="ibox float-e-margins">
                         <div class="ibox-title">
                            <h5>Match Sessions</h5>
                            <div class="ibox-tools">
                            </div>
                         </div>
                         <div class="ibox-content table-responsive">
                            <table class="table">
                               <thead>
                                  <tr>
                                     <th>Session ID</th>
                                     <th>Session Market</th>
                                     <th>Session Runs</th>
                                  </tr>
                               </thead>
                               <tbody>
                                 <tr><td colspan="3" style="text-align: center;">No Rows To Display</td></tr>
                                  <!-- <tr>
                                     <td>14652</td>  
                                     <td><a [routerLink]="'/sessioninfo'">50 Overs Lambi,Western Australia</a></td>
                                     <td>298</td>
                                  </tr>
                                  <tr>
                                     <td>14653</td>  
                                     <td><a [routerLink]="'/sessioninfo'">10 Overs,Western Australia</a></td>
                                     <td>41</td>
                                  </tr> -->
                               </tbody>
                            </table>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
