<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
           <div class="col-lg-12">
              <div class="ibox float-e-margins">
                 <div class="ibox-title">
                    <h1>Match Dashboard - {{title}}</h1>
                 </div>
                        <div class="button-row ibox-content mob-button">
                          <button mat-raised-button color="primary" *ngIf="sprtID!=null" [routerLink]="['/betslips',sprtID,mtbfID,title]">Odds Bet Slips</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/declaredbetslips',matchId,MktId,title]">Odds Bet Slips</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID!=null" [routerLink]="['/sessionbetslips',sprtID,mtbfID,title]">Fancy Bet Slips</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID=='4'" [routerLink]="['/bmbetslips',sprtID,mtbfID,title]">BookMaker Bet Slips</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/declaredsessionbetslips',matchId,MktId,title]">Fancy Bet Slip</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID!=null" [routerLink]="['/analysismarket',sprtID,mtbfID,matchId,'1']">Live Report</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID!=null" [routerLink]="['/marketreport',sprtID,mtbfID,title]">Market Report</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/companyreport',matchId,MktId,title]">Company Report</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/clientreport',matchId,MktId,title]">Client Report</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/clientcollectionreport',matchId,title]">Collection Report</button>
                          <button mat-raised-button color="primary" *ngIf="sprtID==null" [routerLink]="['/sessionearningrepport',matchId,title]">Session Earning Report</button>
                        </div>
              </div>
           </div>
        </div>
     </div>
     <div class="wrapper wrapper-content animated fadeInRight" >
            <div class="row">
               <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                     <div class="ibox-title">
                        <h5>Match Markets</h5>
                        <div class="ibox-tools">
                        </div>
                     </div>
                     <div class="ibox-content table-responsive">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th>ID</th>
                                 <th>Betfair Market Id</th>
                                 <th>Betfair Market Type</th>
                                 <th>RUNNER</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let market of matchMarkets">
                                 <td>{{market.id}}</td>  
                                 <td>{{market.bfMktId}}</td>
                                 <!-- <td><a [routerLink]="'/marketinfo'">{{market.marketType}}</a></td> -->
                                 <td><a [routerLink]="['/declaredbetslips',matchId,MktId,title]">{{market.marketType}}</a></td>
                                 <td>{{market.runner}}</td>
                              </tr>
                              <tr *ngIf="matchMarkets==0"><td colspan="4" style="text-align: center;">No Rows To Display</td></tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="wrapper wrapper-content animated fadeInRight" *ngIf="matchMarkets">
                <div class="row">
                   <div class="col-lg-12">
                      <div class="ibox float-e-margins">
                         <div class="ibox-title">
                            <h5>Match Sessions</h5>
                            <div class="ibox-tools">
                            </div>
                         </div>
                         <div class="ibox-content table-responsive">
                            <table class="table">
                               <thead>
                                  <tr>
                                     <th>Session ID</th>
                                     <th>Session Market</th>
                                     <th>Session Runs</th>
                                  </tr>
                               </thead>
                               <tbody>
                                 <tr *ngIf="sessionMarkets==0"><td colspan="3" style="text-align: center;">No Rows To Display</td></tr>
                                  <tr *ngFor="let session of sessionMarkets">
                                     <td>{{session.id}}</td>  
                                     <td><a [routerLink]="'/sessioninfo'">{{session.marketType}}</a></td>
                                     <td>{{session.runner}}</td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
