<!-- <mat-card class="main-card">
    <form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
        <div class="medium-list">
            <div class="form-container">
              <input type="hidden" formControlName="$key">
              <mat-form-field appearance="outline">
                <mat-label>Username*</mat-label>
                <input formControlName="username" matInput placeholder="Username*">
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Full Name*</mat-label>
                <input formControlName="fullname" matInput placeholder="Full Name*">
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>My Share</mat-label>
                <input formControlName="myshare" matInput placeholder="My Share">
                <mat-error>This field is mandatory.</mat-error>
                <mat-hint class="hint"><b>Note:</b>Max Agent Share + My Share should be set below or equal to <b>80.0</b></mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Maximum Agent Share</mat-label>
                <input formControlName="maxshare" matInput placeholder="Maximum Agent Share">
                <mat-error>This field is mandatory.</mat-error>
                <mat-hint class="hint"><b>Note:</b>Max Agent Share + My Share should be set below or equal to <b>80.0</b></mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Fixed Limit</mat-label>
                <input formControlName="fixlimit" matInput placeholder="Fixed Limit">
                <mat-error>This field is mandatory.</mat-error>
                <mat-hint class="hint"><b>Note :</b>Agent Fix Limit set below or equal to <b>43803.54</b></mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Match Commisson</mat-label>
                <input formControlName="matchcommission" matInput placeholder="Match Commisson">
                <mat-error>This field is mandatory.</mat-error>
                <mat-hint class="hint"><b>Note :</b>Agent Match Commission set below or equal to <b>2.0</b></mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Session Commission</mat-label>
                <input formControlName="sessioncommission" matInput placeholder="Session Commission">
                <mat-error>This field is mandatory.</mat-error>
                <mat-hint class="hint"><b>Note :</b>Agent Session Commission set below or equal to <b>2.0</b></mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Password*</mat-label>
                    <input formControlName="password" matInput placeholder="Password*" [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="service.form.controls['password'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['password'].errors?.minlength">Minimum 5 characters needed.</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Confirm Password*</mat-label>
                    <input formControlName="confirmpassword" matInput placeholder="Confirm Password*" [type]="confirmhide ? 'password' : 'text'">
                    <mat-error *ngIf="service.form.controls['confirmpassword'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['confirmpassword'].errors?.minlength">Minimum 5 characters needed.</mat-error>
                    <button mat-icon-button matSuffix (click)="confirmhide = !confirmhide" [attr.aria-label]="'ConfirmHide password'" [attr.aria-pressed]="confirmhide">
                    <mat-icon>{{confirmhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
              </mat-form-field>
              <div class="button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
              </div>
            </div>
        </div>
      </form>
</mat-card> -->


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
     <div class="col-lg-12">
         <div class="ibox float-e-margins">
             <div class="ibox-title">
                 <h5>New Company</h5>
             </div>
             
             <div class="ibox-content-form table-responsive">
                
                 
                 <form [formGroup]="Companyform" (ngSubmit)="onSubmit()"  class="form-horizontal" >
                     <div class="form-group"><label class="col-sm-2 control-label">User Name</label>
                               <div class="col-sm-10">              
                                 <input class="form-control" formControlName="username" name="user_name" placeholder="User Name" readonly="readonly" type="text" >

                              </div>
                     </div>


                     <div class="hr-line-dashed"></div>

                     <div class="form-group">
                               <label class="col-sm-2 control-label">Full Name</label>
                               <div class="col-sm-10">              
                                 <input formControlName="fullname" class="form-control" name="fullname" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"  placeholder="Full Name" type="text" >
                                 
                                 <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.fullname.errors.required">This field is mandatory.</mat-error>
                                </div>
                              </div>
                     </div>
                     <div class="hr-line-dashed"></div>

                      <div class="form-group">
                               <label class="col-sm-2 control-label">My Share</label>
                               <div class="col-sm-10">              
                                 <input formControlName="myshare" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.myshare.errors }"  max="100.00" min="0.00" name="agent_share" placeholder="My Share"  type="number" value="0.0">
                                 <div *ngIf="submitted && f.myshare.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.myshare.errors.required">This field is mandatory.</mat-error>
                                </div>
                                 <mat-hint class="hint"><b>Note:</b>Max Company Share + My Share should be set below or equal to <b>80.0</b></mat-hint>
                              </div>
                     </div>

                     <div class="hr-line-dashed"></div>

                      <div class="form-group">
                               <label class="col-sm-2 control-label">Max Company Share</label>
                               <div class="col-sm-10">              
                                 <input  formControlName="share" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.share.errors }"  max="100.00" min="0.00" name="maximum_share" placeholder="Company Share"  type="number" value="0.0">
                                 <div *ngIf="submitted && f.share.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.share.errors.required">This field is mandatory.</mat-error>
                                </div>
                                 <mat-hint class="hint" ><b>Note:</b>Max Company Share + My Share should be set below or equal to <b>80.0</b></mat-hint>
                              </div>
                     </div>

                     <div class="hr-line-dashed"></div>

                      <div class="form-group">
                               <label class="col-sm-2 control-label">Company Fix Limit</label>
                               <div class="col-sm-10">              
                                 <input  formControlName="limit" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.limit.errors }"  min="0.00" name="fix_limit" placeholder="Company Fix Limit"  type="number" value="0.0" >
                                 <div *ngIf="submitted && f.limit.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.limit.errors.required">This field is mandatory.</mat-error>
                                </div>
                                 <mat-hint class="hint" ><b>Note</b> : Company Fix Limit set below or equal to <b>130738.76</b></mat-hint>
                              </div>
                     </div>

                     <div class="hr-line-dashed"></div>
                      <div class="form-group">
                               <label class="col-sm-2 control-label">Company Match Commission</label>
                               <div class="col-sm-10">              
                                 <input  formControlName="matchcomm" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.matchcomm.errors }"  max="100.00" min="0.00" name="match_commission" placeholder="Company Match Commission"  type="text" value="0.0">
                                 <div *ngIf="submitted && f.matchcomm.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.matchcomm.errors.required">This field is mandatory.</mat-error>
                                </div>
                                 <mat-hint class="hint" ><b>Note</b> : Company Match Commission set below or equal to <b>2.0</b></mat-hint>
                              </div>
                     </div>

                     <div class="hr-line-dashed"></div>
                      <div class="form-group">
                               <label class="col-sm-2 control-label">Company Session Commission</label>
                               <div class="col-sm-10">              
                                 <input  formControlName="sesscomm" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sesscomm.errors }"  max="100.00" min="0.00" name="session_commission" placeholder="Company Session Commission" type="text" value="0.0"> 
                                 <div *ngIf="submitted && f.sesscomm.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.sesscomm.errors.required">This field is mandatory.</mat-error>
                                </div>
                                 <mat-hint class="hint" ><b>Note</b> : Company Session Commission set below or equal to <b>2.0</b></mat-hint>
                              </div>    
                     </div>  

                     
                     <div class="hr-line-dashed"></div>

                     <div class="form-group">
                               <label class="col-sm-2 control-label">Password</label>
                               <div class="col-sm-10">         
                                <input  formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" name ="password"  placeholder="Password"  type="password" >
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.password.errors.required">This field is mandatory.</mat-error>
                                    <mat-error *ngIf="f.password.errors.minlength">Password must be at least 6 characters</mat-error>
                                </div>
                              </div>                                         
                            
                       </div>
                       <div class="hr-line-dashed"></div>  


                       <div class="form-group">
                              <label class="col-sm-2 control-label">Confirm Password</label>
                              <div class="col-sm-10">                 
                                <input  formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"  name="confirmpassword" placeholder="Confirm Password"  type="password" >
                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <mat-error *ngIf="f.confirmPassword.errors.required">This field is mandatory.</mat-error>
                                    <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</mat-error>
                                </div>
                              </div>                                            
                       </div>
                       <div class="hr-line-dashed"></div>

                     <div class="form-group col-sm-4 col-sm-offset-2 button-row">
                            <button mat-raised-button color="warn" (click)="onClear()">Cancel</button>
                            <button mat-raised-button color="primary"  type="submit">Save</button>
                     </div>
</form>                        </div>
         </div>         
     </div>
 </div>
</div>
