<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
         <div class="col-lg-12">
             <div class="ibox float-e-margins">
                 <div class="ibox-title">
                     <h5>In-Play List</h5>
                 </div>
                 
                 <div class="ibox-content-list table-responsive" >
                        <mat-nav-list>
                            <!-- <mat-list-item [routerLink]="'/home'">
                              <i matListIcon class="fa fa-user-secret"></i>
                                <h3 matLine>Admin</h3>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                  <i matListIcon class="fa fa-user"></i>
                                  <h3 matLine>Super Master</h3>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                  <i matListIcon class="fa fa-user-md"></i>
                                  <h3 matLine>Master</h3>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                  <i matListIcon class="fa fa-user-o"></i>
                                  <h3 matLine>Agent</h3>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                  <i matListIcon class="fa fa-user-circle-o"></i>
                                  <h3 matLine>Super Agent</h3>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                  <i matListIcon class="fa fa-users"></i>
                                  <h3 matLine>Client</h3>
                            </mat-list-item> -->
                        </mat-nav-list>
                </div>
             </div>         
         </div>
     </div>
 </div>