<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
         <div class="col-lg-12">
             <div class="ibox float-e-margins">
                 <div class="ibox-title">
                     <h5>In-Play List</h5>
                 </div>
                 
                 <div class="ibox-content-list table-responsive" >
                    <ng-container *ngFor="let sport of inplayData;trackBy:trackByFn;">
                        <div id="user_row_" class="lotus-title">
                          <div class="pause_btn" style="background:white;">
                            <!-- <img src="assets/images/pause_icon.png" alt="pause_icon" style="margin-top:0px;"> -->
                          </div>
                          <div style="margin-left:25px;">
                            {{sport.name}}
                          </div>
                        </div>
        
                        <ng-container *ngFor="let match of sport.eventList;trackBy:trackByFn;">
                          <div class="pause_btn">
                            <!-- <img src="assets/images/pause_icon.png" alt="pause_icon"> -->
                          </div>
                          <div class="sport_row">
                            <div class="sport_name">
                              <!-- <span (click)="ToggleFavourite(match.bfId)"><i [ngClass]="selectedFavourites(match.bfId)"
                                aria-hidden="true"></i></span> -->
                              <a [routerLink]="['/livereport',match.sportBfId,match.bfId,match.id]" title="Match OODS">
                                {{match.name}}</a>
                            </div>
                            <div class="match_status">
                              <span class="inplay_txt" *ngIf="match.isInplay==1">In-play </span>
                            </div>
                            <div class="match_time">
                              {{match.eventDate}}
                            </div>
                            <div class="match_odds_front">
                              <span class="back-cell">{{match.runner1Back}}</span>&nbsp;
                              <span class="lay-cell">{{match.runner1Lay}}</span>&nbsp;
                              <span class="back-cell">{{match.runner3Back}}</span>&nbsp;
                              <span class="lay-cell">{{match.runner3Lay}}</span>&nbsp;
                              <span class="back-cell">{{match.runner2Back}}</span>&nbsp;
                              <span class="lay-cell">{{match.runner2Lay}}</span>
                            </div>
                          </div>
                        </ng-container>
                        <h2 *ngIf="sport.eventList.length==0">No matches</h2>
                      </ng-container>
                </div>
             </div>         
         </div>
     </div>
 </div>