
  @media screen and (min-width: 600px) {
    .Bottomnav {display: none;}
    .footer{display: block;}
    
  }
  
  .bg-header{
    /* background-image: linear-gradient(to top left, #0084e7, #00407f); */
    background: #434343;
    color: #fff;
    position: fixed;
    z-index: 1;
  }
  .mat-card{
    padding: 65px 0px 0px;
  }

  @media screen and (max-width: 600px) {
    .mat-card{padding: 60px 0px 0px;}
  }
  nav .select {
    color:red !important;
  }
  .marq{
    font-weight: 600;
    /* color: rgba(255,255,255,.5); */
  }
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#fff;  
    /* color: grey; */
    z-index: 10;
    border-top: 1px solid #c2c0c0
  }
  
  nav ul{
    margin:0;
    padding: 0;
  }
  ul li{
    list-style: none !important;
  }
  nav .mat-button {
    width: 20vw;
    /* height: 13.33333vw; */
    padding: 0;
    height: 53px;
    /* color: #110f0fcf; */
    /* font-size: 3.2vw; */
    line-height: 2;
    /* padding: 1.86667vw 2.66667vw 0; */
  }
  nav mat-icon{
    height:12px !important;
  }
  nav .mat-button{
    box-sizing: border-box;
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
  }

  .footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
}