<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
           <div class="col-lg-12">
              <div class="ibox float-e-margins">
                 <div class="ibox-title">
                    <h1>{{name}} Dashboard</h1>
                 </div>
                        <div class="button-row ibox-content mob-button">
                          <button mat-raised-button color="primary" [routerLink]="['/recevcash',userId,userName,name]" *ngIf="amount>0">Recieve Cash (Lena)</button>
                          <button mat-raised-button color="primary" [routerLink]="['/paycash',userId,userName,name]" *ngIf="amount<0">Pay Cash (Dena)</button>
                          <button mat-raised-button color="primary" [routerLink]="['/userledger',userId,userName,name]">Ledger</button>
                          <button mat-raised-button color="primary" [routerLink]="['/cashledger',userId,userName,name]">Cash Ledger</button>
                          <button mat-raised-button color="primary" [routerLink]="['/matchledger']">Match Ledger</button>
                          <button mat-raised-button color="primary" *ngIf="userType==2" [routerLink]="['/supermaster',userId]">Direct Super Masters</button>
                          <button mat-raised-button color="primary" *ngIf="userType==2 || userType==3" [routerLink]="['/master',userId]">Direct Masters</button>
                          <button mat-raised-button color="primary" *ngIf="userType==2 || userType==3 || userType==4" [routerLink]="['/superagent',userId]">Direct Agents</button>
                          <button mat-raised-button color="primary" *ngIf="userType==2 || userType==3 || userType==4 || userType==5" [routerLink]="['/clients',userId]">Direct Clients</button>
                          <button mat-raised-button color="primary" [routerLink]="['/coinhistory',userId,userName,name]">Coin History</button>
                        </div>
              </div>
           </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Coins</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins loss">0.00</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ledger Balance</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins loss" [ngClass]="(ledgerbal>=0)?'text-success':'text-danger'">{{(ledgerbal==null)? 0.00:ledgerbal | number:'1.2-2'}}</h1>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5></h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"></h1>
                    </div>
                </div>
            </div> -->
            
   </div>
     
     </div>
     
